<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="connection_string" value="Provider=Microsoft.JET.OLEDB.4.0;Data Source=Z:\__cache__\BeautyShopDB.mdb" />
  </appSettings>
	<connectionStrings>
		<add name="View.Properties.Settings.BeautyShopDBConnectionString"
            connectionString="Provider=Microsoft.JET.OLEDB.4.0;Data Source=Z:\__cache__\BeautyShopDB.mdb"
            providerName="System.Data.OleDb" />
	</connectionStrings>
</configuration>